# ---------------------------------------------------------------------------- #
# Turbopack build encountered 2 warnings:
# [next]/internal/font/google/noto_sans_kr_957a7ea3.module.css
# Error while requesting resource
# There was an issue establishing a connection while requesting https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap
# Hint: It looks like this error was TLS-related. Try enabling system TLS certificates with NEXT_TURBOPACK_EXPERIMENTAL_USE_SYSTEM_TLS_CERTS=1 as an environment variable, or set experimental.turbopackUseSystemTlsCerts in your next.config.js file.
# ---------------------------------------------------------------------------- #
NEXT_TURBOPACK_EXPERIMENTAL_USE_SYSTEM_TLS_CERTS=1

# ---------------------------------------------------------------------------- #
# NEXT_PUBLIC
# ---------------------------------------------------------------------------- #
NEXT_PUBLIC_APP_URL=http://localhost:3000
